<app-navbar></app-navbar>
<br>
<button class="btn btn-secondary" type="button"  >Ajouter pertes</button>
<table class="table caption-top">
    <thead > 
        <tr>
            <th scope="col">raisons des pertes</th>
        </tr>
    </thead>
    <tbody>
    <tr> <td><input type="checkbox" value="liste des pertes " checked>trop cher </td></tr>
       <tr><td><input type="checkbox" value="liste des pertes " >pas assez de stocks  </td></tr>
       <tr><td><input type="checkbox" value="liste des pertes " >Nous ne disposons pas de personne/competences </td></tr>
    </tbody>
    </table><br><br><br><br><br><br><br><br><br><br><br><br>

<app-footer></app-footer>
