<app-navbar></app-navbar><br>
<h5>clients</h5> 
<button type="button" class="btn btn-outline-secondary">Nouveau</button><br><br>
<table class="table caption-top">
  <thead class="table-dark"> 
     <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Société</th>
        <th scope="col">Email</th>
        <th scope="col">Adresse</th>
        <th scope="col">NumTel</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>ZAOUALI</td>
        <td>olfa</td>
        <td>RUN-IT</td>
        <td>olfazaouali7@gmail.com</td>
        <td>Avenu habib bourguiba Mahdia</td>
        <td>28534792</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>MABROUK</td>
        <td>eya</td>
        <td>RUN-IT</td>
        <td>eyamabrouk5@gmail.com</td>
        <td>Sahloul Sousse </td>
        <td>28569758</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>ATTAOUI</td>
        <td>rayana</td>
        <td>RUN-IT</td>
        <td>attaouirayana@gmail.com</td>
        <td>Skaness Monastir</td>
        <td>97597924</td>
        
      </tr>
      
    </tbody>
  </table><br><br><br><br><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>
