<app-navbar></app-navbar>
<img src="assets/imgs/1.jpg" alt="image" style="width: 1350px ; height: 400px;"> 
<br>
<br>
<h4>Pipeline</h4>
<br>
    
    <div class="d-grid gap-2 col-1 mx-auto">
      <button class="btn btn-outline-dark" type="button"     [routerLink]="['/opportunite']" >Nouveau</button>
    </div>
  
 
<br>
<table class="table caption-top">
  <thead class="table-dark"> 
     <tr>
        <th scope="col">Opportunité</th>
        <th scope="col">Société</th>
        <th scope="col">Montants</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>20 ordinateurs </td>
        <td>ALARABIYA informatique </td>
        <td>20000DT</td>
      </tr>
      <tr>
        <td>20 ordinateurs </td>
        <td>ALARABIYA informatique </td>
        <td>20000DT</td>
      </tr>
      <tr>
        <td>20 ordinateurs </td>
        <td>ALARABIYA informatique </td>
        <td>20000DT</td>
        
      </tr>
      
    </tbody>
  </table>

<br>
<app-footer></app-footer>