<app-navbar></app-navbar>
<br><br>
<div class="card"style="width: 900px;">
    <div class="card-body">
<form class="row g-3">
    <div class="col-md-6">
        <label for="inputOpportunité" class="form-label">Opportunité</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Opportunité">
      </div>
     
      <div class="col-md-2">
        <label for="inputrevenu" class="form-label">Montants
        </label>
        <input type="text" class="form-control" id="inputZip" placeholder="...DT">
      </div>
      <div class="col-md-6">
        <label for="inputClient" class="form-label" >Client</label>
        <input type="text" class="form-control" id="inputClient" placeholder="Client">
      </div>
      <div class="col-md-2">
        <label for="inputDate" class="form-label">Date de fermeture prévue</label>
        <input type="date" class="form-control" id="inputDate">
      </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label"  >Email</label>
      <input type="email" class="form-control" id="inputEmail4"placeholder="exemple...@gmail.com">
    </div>
    
    
    <div class="col-md-6">
      <label for="inputnumtel" class="form-label">Téléphone </label>
      <input type="text" class="form-control" id="inputnumtel"placeholder="+216...">
    </div>
    <div class="col-md-6">
        <label for="inputnumtel" class="form-label">Vendeur</label>
        <input type="text" class="form-control" id="inputnumtel" placeholder="Vendeur">
      </div>
    <div class="col-md-4">
      <label for="inputvendeur" class="form-label">Stage </label>
      <select id="inputvendeur" class="form-select">
        <option selected>Nouveau</option>
        <option>Qalifié</option>
        <option>Proposition</option>
        <option>Ganié</option>

      </select>
    </div>
    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">enregistrer</button>
    </div>
  </form>
</div>
</div>
 
  <br><br><br>
<app-footer></app-footer>
